<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script>
            var fruit, text, fLen, i;
            fruits = ["Banana", "Orange", "Apple", "Mango"];
            fLen = fruits.length;
            fruits.sort(); // 배열 안에 원소를 정렬
            text = "<ul>";

            // for(i = 0; i < fLen; i++) {
            //     text += "<li>" + fruits[i] + "</li>";
            // }

            // literal
            for(var fruit in fruits) {
                text += "<li>" + fruit + "</li>";
            }

            text += "</ul>";
        </script>
    <title>Arrays</title>
</head>
<body>
    <p id="demo01"></p>
    <p id="demo02"></p>
    <p id="demo03"></p>
    <p id="demo04"></p>

    <script>
        document.getElementById("demo01").innerHTML = text;
        document.getElementById("demo02").innerHTML = fruits.pop(); // pop() 배열의 마지막 요소를 제거 

        var strPush = fruits.push("Kiwi");
        document.getElementById("demo03").innerHTML = fruits;

        var arraySplice = fruits.splice(0, 2); // 배열의 기존 요소를 삭제하거나 새로운 값으로 교체
        document.getElementById("demo04").innerHTML = fruits;
    </script>
</body>
</html>