<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../js/content_Try_yj.js"></script>
    <title>Content Try</title>
    <style>
        .wrapper {
            width: 100%;
            overflow: hidden;
        }
        .try {
            width: 33%;
            height: 400px;
            float: left;
            border: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="try">
            <button id="discovery">Discovery</button>
            <button id="atlantis">Atlantis</button>
            <button id="endeavour">Endeavour</button>
            <p id="set1"><b>Note: </b>Click the above buttons to set the value of following input box.</p>
            <p id="set2"><b>Note: </b>Click the above buttons to set the value of following input box.</p>
        </div>
        <div class="try">
            <input type="checkbox" name="chk" /> Arduino <br>
            <input type="checkbox" name="chk" /> Android <br>
            <input type="checkbox" name="chk" /> AI <br>
            <input type="checkbox" name="chk" /> Bid Data <br>
            <button id="btnToggle">All Check Toggle</button>
        </div>
        <div class="try">
            <form action="">
                <table>
                    <tr>
                        <th>Name: </th>
                        <td>
                            <input type="text" id="name" />
                        </td>
                    </tr>
                    <tr>
                        <th>Comment: </th>
                        <td>
                            <textarea cols="30" rows="10" id="comment">Hello, World!</textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>City: </th>
                        <td>
                            <select id="city">
                                <option id="aris">Paris</option>
                                <option id="london">London</option>
                                <option id="newyork">NewYork</option>
                                <option id="souel">Souel</option>
                            </select>
                        </td>
                    </tr>
                </table>                
            </form>
            <p>
                <b>Note: </b>Fill the above form and click the follwing button to get the value.
            </p>
            <button id="gName">Get Name</button>
            <button id="gComment">Get Comment</button>
            <button id="gCity">Get City</button>

            <div id="get">
                <p id="get1"></p>
                <p id="get2"></p>
                <p id="get3"></p>
            </div>
        </div>
    </div>
</body>
</html>