<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>function Try</title>
</head>
<body>
    <h5>크기 비교 Function 만들기</h5>
    <p id="demo01"></p>
    <form onsubmit="return f_compare()" name="myform">
        Num1: <input type="text" name="num1" id="num1" /> <br>
        Num2: <input type="text" name="num2" id="num2" /> <br>
        <input type="submit" value="register" />
    </form>
    <br>

    <h5>동일 단어 제외 문장 출력 function 만들기 : str 값 변화 없음.</h5>
    <p id="demo02"></p>
    <p id="demo03"></p>
    <form onsubmit="return f_subStringWithText(word.value)" name="myform2">
        Word1: <input type="text" name="word" id="world" /> <br>
        <input type="submit" value="register" />
    </form>
    <br>

    <h5>문자 위치 바꾸는 Function 만들기 : str 값 변화 없음.</h5>
    <p>'HTML element CSS'</p>
    <p id="demo04"></p>
    <form onsubmit="return f_getTextAndreplace(change1.value, change2.value)" name="myform3">
        change1: <input type="text" name="change1" id="chg1" /> <br>
        change2: <input type="text" name="change2" id="chg2" /> <br>
        <input type="submit" value="register" />
    </form>
    
    <script src="../js/functionTry.js"></script>
</body>
</html>