<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <p id="demo01"></p>
    <p id="demo02"></p>
    <p id="demo03"></p>
    <p id="demo04"></p>
    <script>
        var person01 = { firstName: "John", lastName: "Doe", age: 50, eyeColor: "blue" }
        var x = person01.constructor();
        x.age = 10; // typeof person01 명령어 시도
        console.log(typeof(person01));
        var person02 = { // → var person02 = new Object(); 가능
            firstName: "John", lastName: "Doe", // → person.firstName = "John"; 가능
            fullName: function (firstVal, secondVal) {
                return this.firstName + " " + firstVal + " " + secondVal;
            }
        }; 
        var txt;
        person02.nationality = "Korean";
       // for (x in person02) { txt += person02[x]; }
        document.getElementById("demo01").innerHTML =
            x.firstName + " is " + x.age + " years old.";
        document.getElementById("demo02").innerHTML = person02.firstName + " " +person02["lastName"]; ;// "demo02" 화면 출력 시도
        document.getElementById("demo03").innerHTML =person02.fullName("yj","jc");
        document.getElementById("demo04").innerHTML =person02.nationality;
        delete person01.age; // "demo03" 화면 출력 시도
    </script>
</body>

</html>