<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <script>
            var name = "Ali";
            var money;
            console.log(typeof(money));
            money = 2000.50;
            console.log(typeof(money));

            var myVar = "global"; // Declare a global variable

            function checkscope( ) {
            var myVar = "local"; // Declare a local variable
            document.write(myVar);
            }
        </script>
</body>
</html>