<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>onsubmit</title>
    <script>
        function validateform() {
            var name = document.myform.name.value;
            var password = document.getElementById("pwd").value;

            if(name == null || name == "") {
                var strvalidation = "Name can't be blank";
                document.getElementById("demo01").innerHTML = strvalidation;
                return false;
            }

            if(password.length <= 6) {
                var error = "패스워드가 6자리 이하입니다.";
                document.getElementById("demo02").innerHTML = error;
                return false;
            }
            else {
                return true;
            }
            return true;
        }
    </script>
</head>
<body>
    <span id="demo01"></span> <br>
    <span id="demo02"></span>
    
    <form action="/login" onsubmit="return validateform()" name="myform">
        Name: <input type="text" name="name" /> <br>
        Password: <input type="password" name="password" id="pwd" /> <br>
        <input type="submit" value="register" />
    </form>
</body>
</html>