<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>String Try</title>
</head>
<body>
    <p>Sentence : <span id="sentence"></span></p>
    <p>출력 : <span id="demo01"></span></p>
    <p>출력 : <span id="demo02"></span></p>
    <p>출력 : <span id="demo03"></span></p>
    <p>출력 : <span id="demo04"></span></p>
    <p>출력 : <span id="demo05"></span></p>
    <br>
    <!-- ------------------------------------- -->

    <p>str1 : <span id="str1"></span></p>
    <p>출력 : <span id="demo06"></span></p>
    <p>출력 : <span id="demo07"></span></p>
    <p>출력 : <span id="demo08"></span></p>
    <p>출력 : <span id="demo09"></span></p>
    <p>출력 : <span id="demo10"></span></p>
    <p>출력 : <span id="demo11"></span></p>
    <br>
    <!-- ------------------------------------- -->

    <p>str2 : <span id="str2"></span></p>
    <p>출력 : <span id="demo12"></span></p>
    <p>출력 : <span id="demo13"></span></p>
    <p>출력 : <span id="demo14"></span></p>
    <p>출력 : <span id="demo15"></span></p>
    <p>출력 : <span id="demo16"></span></p>

    <script src="../js/stringTry.js"></script>
</body>
</html>