<!DOCTYPE html>
<html lang="en">

<head>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
   
    <title>String</title>
    <script>
        var str = "Please locate where 'locate' occurs!"; // 변수 지정
        var pos01 = str.indexOf("locate"); // 동일 문자 위치
        var res = str.substring(7, 13); // 문자열 자르기
        var rep = str.replace("locate", "domastic"); // 동일 문자열 변경
    </script>
</head>

<body class="text-center container">
    <h2 class="border-top border-bottom my-3 border-warning">String_practice_01</h2>
    str.indexOf("locate") : <span id="demo01"></span><br>
    txt.length : <span id="demo02"></span><br>
    str.search("locate") : <span id="demo03"></span><br>
    str.replace("locate","domastic") : <span id="demo04"></span><br>

    <script src="../js/introScript.js"></script>

</body>

</html>